[Unit]
Description=Emergency Shell
Documentation=man:sulogin(8)
DefaultDependencies=no
Conflicts=shutdown.target
Wants=systemd-vconsole-setup.service
After=sysinit.target plymouth-start.service
Before=shutdown.target

[Service]
Environment=HOME=/root
Environment=TERM=xterm
Environment=SUSHELL=/bin/bash
WorkingDirectory=-/root
ExecStart=-/bin/sh -c "/usr/bin/sulogin -e; /usr/bin/systemctl --job-mode=fail --no-block default"
Type=idle
StandardInput=tty-force
StandardOutput=inherit
StandardError=inherit
KillMode=process
IgnoreSIGPIPE=no
SendSIGHUP=yes
